<ul>
  <li><a class="active" href="#home">
      <button mat-icon-button>
        <mat-icon aria-label="monitor">tv</mat-icon>
      </button>
    </a>
  </li>
  <li>
    <a href="#news">
      <button mat-icon-button>
        <mat-icon aria-label="monitor">videocam</mat-icon>
      </button>
    </a>
  </li>
  <li>
    <a href="#news">
      <button mat-icon-button>
        <mat-icon aria-label="monitor">live_tv</mat-icon>
      </button>
    </a>
  </li>
  <li>
    <a href="#news">
      <button mat-icon-button>
        <mat-icon aria-label="monitor">perm_data_setting</mat-icon>
      </button>
    </a>
  </li>
  <li>
    <a href="#news">
      <button mat-icon-button>
        <mat-icon aria-label="monitor">dvr</mat-icon>
      </button>
    </a>
  </li>
  <li>
    <a href="#news">
      <button mat-icon-button>
        <mat-icon aria-label="monitor">bubble_chart</mat-icon>
      </button>
    </a>
  </li>
  <li>
    <a href="#news">
      <button mat-icon-button>
        <mat-icon aria-label="monitor">border_color</mat-icon>
      </button>
    </a>
  </li>
  <li>
    <a href="#news">
      <button mat-icon-button>
        <mat-icon aria-label="monitor">insert_chart_outlined</mat-icon>
      </button>
    </a>
  </li>
  <li>
    <a href="#news">
      <button mat-icon-button>
        <mat-icon aria-label="monitor">code</mat-icon>
      </button>
    </a>
  </li>
  <li>
    <a href="#news">
      <button mat-icon-button>
        <p>active</p>
      </button>
    </a>
  </li>
  <li>
    <a href="#news">
      <button mat-icon-button>
        <mat-icon aria-label="monitor">settings_input_svideo</mat-icon>
      </button>
    </a>
  </li>
  <li>
    <a href="#news">
      <button mat-icon-button>
        <p>vision</p>
      </button>
    </a>
  </li>
  <li>
    <a href="#news">
      <button mat-icon-button>
        <mat-icon aria-label="monitor">airplay</mat-icon>
      </button>
    </a>
  </li>
  <li>
    <a href="#news">
      <button mat-icon-button>
        <mat-icon aria-label="monitor">casino</mat-icon>
      </button>
    </a>
  </li>
  <li>
    <a href="#news">
      <button mat-icon-button>
        <mat-icon aria-label="monitor">settings_remote</mat-icon>
      </button>
    </a>
  </li>
  <li>
    <a href="#news">
      <button mat-icon-button>
        <mat-icon aria-label="monitor">star_rate</mat-icon>
      </button>
    </a>
  </li>
  <li>
    <a href="#news">
      <button mat-icon-button>
        <p>score</p>
      </button>
    </a>
  </li>
  <li>
      <a href="#news">
        <button mat-icon-button>
          <mat-icon aria-label="monitor">featured_play_list</mat-icon>
        </button>
      </a>
    </li>
</ul>