.example-container {
  width: 100%;
  height: 500px;
  top:2%;
  
}

.example-sidenav-content {
  position: absolute;
  height: 100%;
  display: inline-block;
  z-index: 2;
  right:0 !important;
}
.mat-drawer-side{
  right:0;
  top:12%;
  z-index: 1 !important;
  height: 88%;
}
.example-sidenav {
  padding: 20px;
  background-color: aqua;
  width: 40%;
  height: 100%;
}
